<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<tr th:each="list : ${list}">
    <td th:text="${list.username}">Branch</td>
    <td th:text="${list.happyCustomers}">Customers</td>
</tr>
<a href="/happyButton">Happy Button</a>
</body>
</html>